<launch>
    <param name="bot_description" textfile="${find T3_bot_description/urdf/bot_description.urdf}" />
    <param name="use_gui" value="true" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d ${find T3_bot_description}/config/bot_description.rviz" required="true" />
</launch>